/* default.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: teal;
    color: #333;
    padding-bottom: 50px; /* Ensure there's enough space at the bottom for the footer */
}

header {
    background-color: #4CAF50;
    color: whitesmoke;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

h1, h2 {
    margin: 0;
}

footer {
    background-color: tan;
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 20px 0; /* Add padding for better spacing */
}

footer nav {
    display: flex; /* Use flexbox to align items in a row */
    justify-content: center; /* Center the links horizontally */
    gap: 20px; /* Add space between the links */
}

footer nav span {
    display: inline; /* Ensure spans are inline */
}

footer nav a {
    color: white; /* Ensure link color is white */
    text-decoration: none; /* Remove underline from links */
}

footer nav a:hover {
    text-decoration: underline; /* Add underline on hover */
}


.validation-buttons {
    margin-top: 20px;
    text-align: center;
}

.validation-buttons button {
    background-color: #4CAF50; /* Button color */
    color: white; /* Button text color */
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
