    <p>Useful links will go here</p>
    <nav class="footer-section">
        <a class="link" href="https://webpages.charlotte.edu/mburke24/" target="_blank">CLT-Web</a>
        <a class="link" href="https://github.com/MacKayyyy/Mackayyyy.githib.io" target="_blank">github.io</a>
        <a class="link" href="https://github.com/MacKayyyy/Mackayyyy.github.io/tree/main/itis3135" target="_blank">github</a>
        <a class="link" href="https://webpages.charlotte.edu/mburke24/itis3135/" target="_blank">ITIS3135</a>
        <a class="link" href="https://www.linkedin.com/in/mackay-burke" target="_blank">linkedin</a>
        <a class="link" href="https://www.codecademy.com/profiles/MacKayBurke" target="_blank">Codecademy</a>
        <a class="link" href="https://www.freecodecamp.org/MACKAY_BURKE" target="_blank">freeCodeCamp</a>
    </nav>

    <a class="footer-section" id="design-name" href="https://webpages.charlotte.edu/mburke24/itis3135/burkesblueprints.co/index.html">Burke's Blueprints &#169;2024</a>
