    <h1 class="title">Mundane Boar</h1>
    
    <nav class="navbar">  
            <a href="https://webpages.charlotte.edu/mburke24/itis3135/index.html">Home</a>
            <a href="https://webpages.charlotte.edu/mburke24/itis3135/introduction.html">Who made this?</a>
            <a href="https://webpages.charlotte.edu/mburke24/itis3135/contract.html">Contract</a>
            <a href="https://webpages.charlotte.edu/mburke24/itis3135/about.html">About</a>
            <a href="https://webpages.charlotte.edu/mburke24/itis3135/website_evaluations.html">Evaluations</a>
            <a href="https://webpages.charlotte.edu/mburke24/itis3135/tables.html">Tables</a>
            <a href="https://webpages.charlotte.edu/mburke24/itis3135/forms.html">Forms</a>
            <a href="https://webpages.charlotte.edu/mburke24/itis3135/hobby/index.html">Midterm</a>
    </nav>

    <nav class="navbar">
        <a href="https://webpages.charlotte.edu/mburke24/itis3135/stuff/cRApPy WEB pageS( ͡👁️ ͜ʖ ͡👁️).htm">CRAPPY</a>
    </nav>